@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    <!--뷰백에 담아왔을때-->
    <h3>사용자 번호 :  @ViewBag.User.UserNo</h3>
    <h3>사용자 이름 : @ViewBag.User.UserName</h3>
*@

<!--뷰백에 담지않고 뷰의 파라미터로 보냈을때-->
<h3>사용자 번호 :  @Model.UserNo</h3>
<h3>사용자 이름 : @Model.UserName</h3>

@* *@
@{ var total = 10;}
@{ var message = "hello wolrd";}

<h3>this value is @total</h3>   
<h3>this value is @message</h3>

@{ 
    var g = "welcome";
    var w = DateTime.Now.DayOfWeek;
    var gw = g + "today is" + w;
}

<p>display @gw</p>

<!--서버쪽 객체도 출력 가능-->
<table border="1">
    <tr>
        <td>Requested URL</td>
        <td>Relative Path</td>
        <td>Full Path</td>
        <td>HTTP Request Type</td>
    </tr>
    <tr>
        <td>@Request.Url</td>
        <td>@Request.FilePath</td>
        <td>@Request.MapPath(Request.FilePath)</td>
        <td>@Request.RequestType</td>
    </tr>
</table>


@{ 
    var result = "";
    if (true) { result = "true"; }
    else { result = "false"; }
}
<p>결과 : @result</p>